html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

.entry-meta, .entry-footer, .comment-metadata, .site-info {
	font-size: 12px;
	color: #808080;
}

.site-info {
	float: right;
	color: #fff;
	padding: 10px;
}

.site-info a {
	color: #fff;
	&:visited {
		color: #fff;
	}
}

.site-footer {
	background-color: $color__text-main;
}

.site-title, .site-description {
	display: none;
	justify-content: space-evenly;
}

.checked {
	color: $color__accent-brand;
}

.ratingRubric {
	width: 50%;
	display: inline-block;
}

.ratingValue {
	width: 50%;
	padding: 0;
	margin: 0;
	display: inline-block;
}

@media screen and (min-width: $break-small) {

	.ratingRubric {
		width: 30%;
	}
	
	.ratingValue {
		width: 70%;
	}

}