.menu-toggle {
	border: none;
	background: none;
	padding: 0 10px;
	margin: 0;
	position: absolute;
	&:active {
		border: none;
		background: none;	
	}
	&:focus {
		border: none;
		background: none;
	}
}

.main-navigation {
	clear: both;
	float: left;
	text-align: center;
	width: 100%;
	background-color: $color__text-main;

	ul {
		display: none;
		list-style: none;
		margin: 0 auto;
		padding-left: 10px;
		width: 500px;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				/* The focus class is added by navigation.js */
				&:hover > ul,
				&.focus > ul {
					left: 100%;
					padding: 8px;
				}

				/* The :focus-within is for non-JS contexts and AMP (all browsers except IE/Edge support) */
				&:focus-within > ul {
					left: 100%;
				}
			}

			a {
				width: 44px;
			}

			:hover > a,
			.focus > a {
				color: #fff;

			}

			a:hover,
			a.focus {
			}
		}

		/* The focus class is added by navigation.js */
		li:hover > ul,
		li.focus > ul {
			left: auto;
		}

		/* The :focus-within is for non-JS contexts and AMP (all browsers except IE/Edge support) */
		li:focus-within > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		/* The focus class is added by navigation.js */
		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: inline;
		text-decoration: none;
		color: #fff;
		font-family: $font__brand;
		margin-right: 20px;
		font-size: 24px;

	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
		width: 500px;
		padding-left: 0;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.comments-link::before {
	margin-left: 5px;
	content: "| ";
}


.svg-menu-toggle {
	fill: #ffffff;
	pointer-events:all; //needs to be there so the hover works
	cursor:pointer;

	.bar {

		-webkit-transform:rotate(0) translateY(0) translateX(0);
		transform:rotate(0) translateY(0) translateX(0);
		opacity:1;


		-webkit-transform-origin: 20px 10px;
		transform-origin: 20px 10px;

		-webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
		transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;

	}
	.bar:nth-of-type(1) {
	-webkit-transform-origin: 20px 10px;
		transform-origin: 20px 10px;

	}
	.bar:nth-of-type(3) {
	-webkit-transform-origin: 20px 20px;
		transform-origin: 20px 20px;
	}
}

.main-navigation.toggled .svg-menu-toggle {


	.bar:nth-of-type(1) {

		
		-webkit-transform:rotate(-45deg) translateY(0) translateX(0);
		transform:rotate(-45deg) translateY(0) translateX(0);

	}

	.bar:nth-of-type(2) {

		opacity:0;

	}

	.bar:nth-of-type(3) {

		
		-webkit-transform:rotate(45deg) translateY(0em) translateX(0em);
		transform:rotate(45deg) translateY(0em) translateX(0em);

	}
}

.inline-svg {
	display:block;
	margin:0 auto;
	width: 44px;
	height:44px;
}